@font-face {
  font-family: 'Helvetica Neue';
<<<<<<< HEAD
  src: url('fonts/HelveticaNeue-Thin.otf'); }

body {
  padding-top: 70px; }
=======
  src: url("fonts/HelveticaNeue-Thin.otf");
}


body {
  padding-top: 70px;
}


>>>>>>> FETCH_HEAD

.navbar-brand {
  font-family: 'Helvetica Neue';
  font-size: 22px;
<<<<<<< HEAD
  letter-spacing: 2px; }
=======
  letter-spacing: 2px;
}


>>>>>>> FETCH_HEAD

a[href*='collapse'] {
  border-bottom: 1px dashed #0095b3;
  color: #00d3ff;
<<<<<<< HEAD
  text-align: center; }

a:hover {
  text-decoration: none;
  border-bottom: none;
  color: #0095b3; }

h1 {
  margin-bottom: 3%; }

p {
  text-indent: 2em; }

h3:hover {
  text-decoration: none; }

.sb-link {
  color: #eee; }

.center-it {
  text-align: center; }

.text-margined {
  margin: 2%; }

li:hover {
  background-color: #eee; }
=======
  text-align: center;
}

h1 {
  margin-bottom: 3%;
}

p {
  text-indent: 2em;
}

.sb-link {
  color: #eee;
}

.center-it {
  text-align: center;
}

.text-margined {
  margin: 2%;
}

li:hover {
  background-color: #eee;
}

.list-text {
  font-size: 20px;
  color: #C0C0C0;
}
>>>>>>> FETCH_HEAD
