
.page-header {
  text-align: center;
}

.link-colored {
  color: rgb(41, 128, 185) !important;
}

.footer {
  width: 100%;
  height: 30px;
  margin-top: 1%;
  padding: 5px;
  background-color: lightgrey;
  text-align: center;

}

.text-wrapper{
  text-align: center;
}

.container-first{
  margin-top: 2%;
}

.bordered{
  border: 1px solid black;
  padding: 0;
}

p{
  text-indent: 20px;
  }

.text{
  padding: 3%;
  }
