body{
  font-family: "Helvetica Neue", "Helvetic", "Tahoma", "Arial", sans-serif;
}

a {
  color: rgb(41, 128, 185) !important;
}

a[href*='collapse'] {
  border-bottom: 1px dashed blue;
}

a:hover {
  text-decoration: none;
  border-bottom: none;
}

.footer {
  width: 100%;
  height: 4.5%;
  margin-top: 1%;
  padding: 5px;
  background-color: lightgrey;
  text-align: center;
}

h1 {
  margin-bottom: 3%;
}

p {
  text-indent: 2em;
}

 h3:hover {
  color: #0095b3;
  text-decoration: none;
 }

 .text-margined {
  margin: 2%;
 }

 li:hover {
  background-color: #eee;
}



